<!DOCTYPE html>
<html>

<head>
  <title>Flask App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cards2.css')
      }}">
</head>
<div class="wrapper">
  <div class="box 1">
    <h1>IP-Only</h1>
    <h2>2022-09-07 11:44:10 Avbrott</h2>
    <h3>
      <p>Ticket Number: INC2056140<br /> Business Area: DATACOMMUNICATIONS<br /> Status: ONGOING<br /> Fault Type:
        OUTAGE<br /> Location: ENKÖPING<br /> Occured: 06/09/2022 08:06 UTC<br /> Estimated Time of Repair: 06/09/2022
        12:00 UTC<br /> Service(s) Restored: </p>
      <p>Details:<br /> 06/09/2022 08:20 UTC We currently have an outage,
        troubleshooting is ongoing.<br /> 06/09/2022
        09:27 UTC Outage is resolved and services are restored but the cause
        is unknown. The services are being
        monitored and troubleshooting is continued to find the cause of the
        incident.</p>
    </h3>
  </div>
  <div class="box 2">
    <h1>Zitius</h1>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</h3>
  </div>
  <div class="box 3">
    <h1>iTux</h1>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</h3>
  </div>
  <div class="box 4">D</div>
  <div class="box 5">E</div>
  <div class="box 6">
    <h1>Pratham</h1>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?d</h3>
  </div>
</div>

</html>